<div class="article-container">
<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">

  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-entry typo" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
        <% if (theme.eof) { %>
           <div class="end-of-file"><%- theme.eof %></div>
        <% } %>
      <% } %>

    </div>
    

    <footer class="article-footer">
      <ul class="article-meta">
        <li>
          <span class="label"><%= __('date_published') %>:</span>
          <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
        </li>
        <% if (post.categories && post.categories.length) { %>
          <li>
            <span class="label"><%= __('category') %>:</span>
            <%- partial('post/category') %>
          </li>
        <% } %>
        <% if (post.tags && post.tags.length){ %>
          <li>
            <span class="label"><%= __('tag') %>:</span>
            <%- partial('post/tag') %>
          </li>
        <% } %>
        <hr/>
      </ul>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>
    <% if (theme.toc.enable) { %>
    <%
     var toccontent = toc(page.content, { "class": "", list_number: page.toc_number });
    %>
    <% if (toccontent.length > 1) { %>
    <aside id="article-toc" role="navigation" class="article-toc">
      <div id="article-toc-inner">
        <strong class="sidebar-title">目录</strong>
          <%- toc(page.content, { "class": "", list_number: page.toc_number }) %>   
          <a href="#" id="article-toc-top">回到顶部</a>
        </div>
    </aside>
    <% } %>
    <% } %>
<% if (!index && post.comments && config.disqus_shortname){ %>
  <section id="disqus_comments" class="comments">
    <div id="disqus_thread">
      <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  </section>
<% } %>
<% if (!index && theme.gitment.enable && post.comments && theme.gitment.owner && theme.gitment.repo && theme.gitment.client.id && theme.gitment.client.secret){ %>
  <section id="gitment_ccomments" class="comments">
    <div id="gitment_container"></div>
  </section>
<% } %>
<% if(!index && post.comments && theme.utterances.enable && theme.utterances.repo){ %>
  <section id="utterances_comments" class="comments">
    <div id="utterances_container"></div>
  </section>
<% } %>

<% if(!index && post.comments && theme.valine.enable && theme.valine.appId && theme.valine.appKey){ %>
  <section id="valine_comments" class="comments">
    <div id="valine_container"></div>
  </section>
<% } %>
</div>
